@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.radGrad {
  background: linear-gradient(to bottom, #1B5EBA -10%, #4A9DF1 25%, #1B5EBA 100%);
  font-family: var(--font-xp)
}

.exitButtonGrad {
  background: linear-gradient(to bottom, darkred -10%, red 40%, crimson 80%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
